{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | {% block title %}{% endblock %}</title>

    <!-- <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon"> -->

    <link href="{% static 'zbootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.min.css' %}">
    <script src="{% static 'bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'sweetalert.js' %}"></script>

</head>

<body>
    {% if not '-login' in request.resolver_match.url_name|default:'' %}
    <nav class="navbar navbar-expand-lg bg-primary shadow-lg sticky-top">
        <div class="container-fluid px-5">
            <button class="btn btn-rounded btn-outline-dark border-0 py-0 px-2" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions">
                <i class="bi bi-list fs-3"></i>
            </button>

            <div class="navbar-nav ms-auto">
                <div class="nav-link d-flex align-items-center">
                    <i class="fa-solid fa-circle-user fs-2"></i>
                    <div class="d-none d-md-inline ms-2">
                        <div class="lh-1 text-capitalize">{{ request.user.username }}</div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions">
        <div class="offcanvas-header d-flex flex-column">
            <button type="button" class="btn-close align-self-end" data-bs-dismiss="offcanvas"></button>

            <div class="d-flex justify-content-center">
                <!-- <a href="#">
                    <img src="" alt="Academy" height="100">
                </a> -->
            </div>
        </div>

        <div class="mt-5">
            <div class="list-group">
                <a href="{% url 'admin-dashboard' %}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-tachometer-alt me-2"></i>Dashboard
                </a>
                <a href="{% url 'order-records' %}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-shopping-cart me-2"></i>Order
                </a>
                <a href="{% url 'user-list' %}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-users me-2"></i>Users
                </a>
                <a href="{% url 'audit-trail' %}" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-file-alt me-2"></i>Audit trails
                </a>
                <!-- <a href="#" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-comments me-2"></i>Feedbacks
                </a> -->
            </div> 
        </div>

        <div class="mt-auto">
            <div class="list-group">
                <a href="{% url 'admin-logout' %}" class="text-decoration-none" id="logoutBtn">
                    <button type="submit" class="list-group-item list-group-item-action text-danger w-100 text-start">
                        <i class="bi bi-box-arrow-in-left me-2"></i>Logout
                    </button>
                </a>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', (e) => {
            const logoutBtn = document.getElementById('logoutBtn');
            logoutBtn.addEventListener('click', e => {
                e.preventDefault();
                Swal.fire({
                    icon: "warning",
                    title: "Are you sure you want to logout?",
                    showDenyButton: true,
                    confirmButtonText: "Yes",
                    denyButtonText: "No",
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = e.target.href;
                    }
                });
            });
            const deleteCoffeeBtns = document.querySelectorAll('.delete-coffee-btn');
            deleteCoffeeBtns.forEach(btn => {
                btn.addEventListener('click', e => {
                    e.preventDefault();
                    Swal.fire({
                        icon: "warning",
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        showDenyButton: true,
                        confirmButtonText: "Yes, delete it",
                        denyButtonText: "No",
                        reverseButtons: true,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = e.target.href;
                        }
                    });
                });
            });
        });
    </script>
</body>

</html>
